# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/

.vscode/

# Ignore everything in the MatMul_SA folder
/MatMul_SA/*

# Except for the hls/syn/report directory
!/MatMul_SA/MatMul_SA/hls/syn/report
!/MatMul_SA/MatMul_SA/hls/syn/report/*